<!DOCTYPE html>
<html>
 <head>  
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;bugrap&quot;}">
  <meta charset="UTF-8" name="package-mapping" content="com_example_bugrap_components:com.example.bugrap.components">
  <meta charset="UTF-8" name="package-mapping" content="org_vaadin_hene_popupbutton:org.vaadin.hene.popupbutton">
 </head> 
 <body> 
  <vaadin-vertical-layout size-full="true"> 
   <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true" width-full="true" margin="true"> 
    <vaadin-combo-box style-name="borderless" item-caption-mode="id" width-full="true" _id="projects" :expand="0.5"> 
     <option>Option 1</option> 
     <option>Option 2</option> 
     <option>Option 3</option> 
    </vaadin-combo-box> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="vertical-line" spacing="true" :middle="" :right="" :expand="0.5"> 
     <vaadin-button icon="fonticon://FontAwesome/f007" style-name="borderless" plain-text="" _id="userButton" :middle="">
       Mark Manager 
     </vaadin-button> 
     <vaadin-button icon="fonticon://FontAwesome/f084" style-name="borderless" plain-text="" _id="logoutButton" :middle="" :right="">
       Logout 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
   </vaadin-horizontal-layout> 
   <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="bottom-line" spacing="true" width-full="true" margin="true"> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" :expand="3"> 
     <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="vertical-line" spacing="true"> 
      <vaadin-button icon="fonticon://FontAwesome/f188" style-name="borderless" plain-text="">
        Report a bug 
      </vaadin-button> 
      <vaadin-button icon="fonticon://FontAwesome/f0eb" style-name="borderless" plain-text="">
        Request a feature 
      </vaadin-button> 
      <vaadin-button icon="fonticon://FontAwesome/f013" style-name="borderless" plain-text="">
        Manage project 
      </vaadin-button> 
     </vaadin-horizontal-layout> 
     <vaadin-label style-name="projects-info" size-auto="true" plain-text="" :middle="">
       123 
     </vaadin-label> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="search-panel" width-full="true" :middle="" :right="" :expand="2"> 
     <vaadin-button icon="fonticon://FontAwesome/f002" style-name="borderless icon-only" plain-text="" _id="searchButton">
       Button 
     </vaadin-button> 
     <vaadin-text-field input-prompt="Search reports..." style-name="borderless" width-full="true" _id="search" :expand=""></vaadin-text-field> 
     <vaadin-button style-name="borderless" plain-text="" _id="clearSearch">
       X 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
   </vaadin-horizontal-layout> 
   <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true" width-full="true" margin="true"> 
    <vaadin-label size-auto="true" plain-text="">
      Reports for 
    </vaadin-label> 
    <vaadin-native-select style-name="borderless" item-caption-mode="id" immediate="true" _id="versions"> 
     <option>Option 1</option> 
     <option>Option 2</option> 
     <option>Option 3</option> 
    </vaadin-native-select> 
    <com_example_bugrap_components-distribution-bar width-full="true" _id="distributionBar" :middle="" :right="" :expand=""></com_example_bugrap_components-distribution-bar> 
   </vaadin-horizontal-layout> 
   <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true" margin="true"> 
    <vaadin-label size-auto="true" plain-text="" :middle="">
      Assigness 
    </vaadin-label> 
    <com_example_bugrap_components-filter-menu _id="userFilterMenu"></com_example_bugrap_components-filter-menu> 
    <vaadin-label size-auto="true" plain-text="" :middle="">
      Status 
    </vaadin-label> 
    <com_example_bugrap_components-filter-menu _id="statusFilterMenu"></com_example_bugrap_components-filter-menu> 
   </vaadin-horizontal-layout> 
   <vaadin-vertical-split-panel split-position="100%" _id="tableLayout" :expand=""> 
    <vaadin-table size-full="true" _id="bugsTable"></vaadin-table> 
   </vaadin-vertical-split-panel> 
  </vaadin-vertical-layout>  
 </body>
</html>