<!DOCTYPE html>
<html>
 <head> 
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;bugrap&quot;}">
  <meta charset="UTF-8" name="package-mapping" content="com_example_bugrap_views:com.example.bugrap.views">
 </head> 
 <body> 
  <vaadin-vertical-layout size-full="true"> 
   <vaadin-horizontal-layout primary-style-name="v-horizontallayout" width-full="true" margin="true"> 
    <vaadin-label size-auto="true" plain-text="" _id="breadcrums" :middle="">
      Label 
    </vaadin-label> 
   </vaadin-horizontal-layout> 
   <com_example_bugrap_views-feature-description-layout size-full="true" _id="featureDescription" :expand=""></com_example_bugrap_views-feature-description-layout> 
   <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="gray" spacing="true" margin="true"> 
    <vaadin-text-area width-full="true">
      Write a new comment... 
    </vaadin-text-area> 
    <vaadin-css-layout visible="false" style-name="upload-area" width-full="true" _id="uploadsContainer"></vaadin-css-layout> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true"> 
     <vaadin-button plain-text="" _id="doneButton">
       Done 
     </vaadin-button> 
     <vaadin-upload immediate="true" _id="attachmentButton"></vaadin-upload> 
     <vaadin-button enabled="false" plain-text="" _id="cancelButton">
       Cancel 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>