// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

$v-margin: 5px;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-gray-color: #dedede;

@import "../valo/valo.scss";

@mixin bugrap {
  @include valo;

  bar {
    display: inline-flex;
    font-size: 90%;
    width: 100%;
  }
  
  .filtermenu {
  	font-size: 90%;
  }
  
  .filtermenu .selected {
  	color: #fff;
	background: #7c7c7c; /* Old browsers */
	background: -moz-linear-gradient(top,  #7c7c7c 0%, #969696 20%, #b7b7b7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7c7c7c 0%,#969696 20%,#b7b7b7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7c7c7c 0%,#969696 20%,#b7b7b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */
  }
  
  .v-button-disable-indicator .v-popup-indicator {
  	display: none !important;
  }

	.v-button:after {
		content: none;
	}

	.filtermenu .v-button:first-child {
		border-top-left-radius: 10px;
	   	border-bottom-left-radius: 10px;
	}
	
	.filtermenu .v-button:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

  bar item {
    color: #fff;
    display: inline-block;
    min-width: 30px;
    padding: 1px 10px;
    background: rgba(145,145,145,1);
    background: -moz-linear-gradient(top, rgba(145,145,145,1) 0%, rgba(105,105,105,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,145,145,1)), color-stop(100%, rgba(105,105,105,1)));
    background: -webkit-linear-gradient(top, rgba(145,145,145,1) 0%, rgba(105,105,105,1) 100%);
    background: -o-linear-gradient(top, rgba(145,145,145,1) 0%, rgba(105,105,105,1) 100%);
    background: -ms-linear-gradient(top, rgba(145,145,145,1) 0%, rgba(105,105,105,1) 100%);
    background: linear-gradient(to bottom, rgba(145,145,145,1) 0%, rgba(105,105,105,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#696969', GradientType=0 );
    box-sizing: border-box;
  }

  bar item:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background: rgba(107,107,107,1);
    background: -moz-linear-gradient(top, rgba(107,107,107,1) 0%, rgba(71,71,71,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(107,107,107,1)), color-stop(100%, rgba(71,71,71,1)));
    background: -webkit-linear-gradient(top, rgba(107,107,107,1) 0%, rgba(71,71,71,1) 100%);
    background: -o-linear-gradient(top, rgba(107,107,107,1) 0%, rgba(71,71,71,1) 100%);
    background: -ms-linear-gradient(top, rgba(107,107,107,1) 0%, rgba(71,71,71,1) 100%);
    background: linear-gradient(to bottom, rgba(107,107,107,1) 0%, rgba(71,71,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#474747', GradientType=0 );
  }

  bar item:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(196, 196, 196);
    color: #000;
  }
  
  .gray {
  	background: rgba(242,242,242,1);
	background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(184,184,184,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(100%, rgba(184,184,184,1)));
	background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(184,184,184,1) 100%);
	background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(184,184,184,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(184,184,184,1) 100%);
	background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(184,184,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#b8b8b8', GradientType=0 );
  }
  
  .vertical-line > * {
  	border-left: 1px solid #aaa;
  }
  
  .vertical-line > *:first-child {
  	border-left: none;
  }
  
  .v-margin-left, .v-margin-top, .v-margin-right, .v-margin-bottom {
  	padding: 10px;
  }
  
  .projects-info {
  	background-color: rgb(107,107,107);
  	border-radius: 10px;
  	color: #fff;
  	font-weight: bold;
  	padding: 0 5px;
  	font-size: 90%;
  }
  
  .upload-area {
  	background-color: $v-gray-color;
  	border-radius: 5px;
  }
  
  .search-panel {
  	border: 1px solid $v-gray-color;
  	border-radius: 10px;
  }
  
  .bottom-line {
  	border-bottom: 1px solid $v-gray-color;
  }
}
